.dart_tool/
node_modules/
supabase/.temp/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
flutter_*.log
.env
android/local.properties
ios/Pods/
ios/.symlinks/
*.iml
.idea/
.vscode/
